body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  margin-top: 0;
}
.todo-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.todo-item p {
  margin: 0;
  flex: 1;
}
input[type='checkbox'] {
  height: 24px;
  width: 24px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  accent-color: green;
}
.checkbox input[type='checkbox'] {
  display: none;
}


input[type="checkbox"] {
  width: 3em;
  height: 3rem;
  
}


.icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.trash {
  color:#808080;
}
.edit {
  color:blue;
}